<div class="sensorWidget">
    {{#each partials.sensors.sensors}}
    <div class="location">
        <h3> {{name}} </h3>
        <p>{{id}}</p>
        <p>latest_temp</p>
    </div>
    {{/each}}
    <small> Source: <a href= "http://www.mysensors.com" > Powerd by MySensors</a></small>
</div>
