<div class="sensorWidget">	
	{{#each partials.sensors.readings}}
    <div class="sensors">
    	<p class="name">{{name}}</p>
    	<p class="value">{{value}}</p>
    </div>
    {{/each}}
    <small> Source: <a href= "http://mysensors.org/" >Powered by MySensors.org</a></small>
</div>
