<div class="sensorWidget">	
	{{#each partials.sensors.readings}}
    <div class="sensors">
    	<p>{{name}}: {{value}}</p>
    </div>
    {{/each}}
    <small> Source: <a href= "http://www.mysensors.com" > Powerd by MySensors</a></small>
</div>
